@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body, html {
    background-color: #f3f5fc !important;
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    height: 100%;
    width: 100%;
    min-width: 280px;
    min-height: 450px;
}
main {
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
.container {
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 100%;
    height: 7%;
    min-height: 42.2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo > svg {
    height: 100%;
}
/* MIDDLE CONTAINER */

.middleContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.inputarea {
    height: 80%;
    padding: 64px 0px;
}
.inputText {
    width: 100%;
    height: 288px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0e468b;
    background: none;
    border: none;
    resize: none;
}
.inputText:focus {
    outline: none;
    border: none;
}
.anotation {
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 0.8;
    padding: 0px 24px;
}
.icon {
    background-color: #495057;
    border-radius: 10px;
}
.labelAnotation {
    padding-left: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}
.buttons {
    width: 93%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
}
.encryptbtn {
    box-sizing: border-box;
    gap: 8px;
    width: 50%;
    height: 100%;
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
}
.dencryptbtn {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
}

/*RIGTH CONTAINER*/

.rigthContainer {
    width: 400px;
    height: 100%;
    padding: 0px 40px;
}
.contentRigth {
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contentRigth > img {
    width: 350px;
}
.contentTextRigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 16px;
    height: 122px;
    width: 100%;
    box-sizing: border-box;
}
.TextRigthTitle {
    height: 100%;
    display: flex;
    align-items: center;
}
.TextRigthTitle > h2 {
    margin: 0;
}
.TextRigthComment {
    height: 100%;
    display: flex;
    align-items: center;
}
.TextRigthComment > p {
    margin: 0;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
    background: #6e6e6e27;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #6e6e6e3f;
    border-radius: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1230px) {
    body,
    html {
        height: 100%;
        width: 100%;
    }
    .container {
        all: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .middleContainer {
        all: unset;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 154px);
        padding-bottom: 20px;
        box-sizing: border-box;
    }
    .rigthContainer {
        all: unset;
        width: 100%;
        padding-top: 32px;
        box-sizing: border-box;
    }
    .labelAnotation {
        all: unset;
        padding-left: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
    }
    .anotation {
        padding: 15px 0px;
    }
    .contentRigth > img {
        display: none;
    }
    .buttons {
        padding: 0;
        width: 100%;
        height: 15%;
    }
}
@media (max-width: 425px) {
    .middleContainer {
        height: calc(100% - 100px);
    }
    .rigthContainer {
        height: 100%;
        padding-top: 0px;
    }
    .contentRigth{
        padding: 32px;
        box-sizing: border-box;
    }
    .contentTextRigth{
        padding: 0 10px;
        font-size: calc(10px + 2vmin);
    }
    .anotation {
        padding: calc(5px + 1vmin) 0px;
    }
    .TextRigthTitle {
        align-items: flex-start;
    }
    .TextRigthComment {
        align-items: flex-end;
    }
    .buttons {
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
    }
    button {
        width: 100% !important;
    }
    .inputarea {
        height: calc(100% - 150px);
        padding: calc(20px + 2vmin) 0px;
    }
    .inputarea > textarea {
        height: 100%;
        font-size: calc(10px + 2vmin);
    }
}
@media (max-width: 360px) or ((max-width: 800px)) {
    body {
        max-height: screen;
    }
    .middleContainer {
        height: 75%;
    }
    .rigthContainer {
        height: 25%;
        padding-top: 0px;
    }
    .inputarea {
        padding: 20px 0px;
        height: 50%;
        box-sizing: border-box;
    }
    .contentRigth{
        height: 100%;
        box-sizing: border-box;
    }
    .buttons {
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
    }
    .encryptbtn{
        width: 100%;
    }
    .dencryptbtn{
        width: 100%;
    }
    .TextRigthTitle > h2 {
        font-size: calc(10px + 2vmin);
    }
    .TextRigthComment > p {
        font-size: calc(5px + 2vmin);
    }
}